{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellat nihil voluptatibus ratione provident impedit, illo voluptatem enim tempore atque odit laudantium amet doloremque deserunt cumque voluptate officia explicabo, animi nemo. Rerum reiciendis nisi officia ipsam velit magni id? Voluptatibus repellendus distinctio error quam tenetur eveniet quis iste vel ad officiis, porro dignissimos repudiandae consequuntur quo consequatur veritatis unde provident! Omnis, eaque numquam. Nesciunt, facilis harum accusamus modi a omnis deleniti eaque libero id quae! Error, modi repudiandae quo nesciunt dolorum incidunt libero deleniti praesentium est in culpa voluptatibus quod, molestias tempora, voluptates delectus corrupti nihil optio enim! Ipsam, voluptatibus?</p>

<p>WebSite created by {{username}}</p>

{% endblock %}